@model SlickScheduler.Models.User
@{
    ViewBag.Title = "AddAdmin";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Add Admin</h2>
<p>Would you like to add @Model.FirstName @Model.LastName as an Administrator?</p>
<a href="@Url.Action("AddAdmin", "Admin", new { email = Model.Email, add = true })" class="btn btn-default">Add Admin</a>
<a href="@Url.Action("Index", "Admin")" class="btn btn-primary">Cancel</a>

