@model SlickScheduler.Models.User
@{
    ViewBag.Title = "AddAdvisor";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Add an Advisor</h2>
<p>Would you like to add @Model.FirstName @Model.LastName as an Advisor?</p>
<a href="@Url.Action("AddAdvisor", "Admin", new { email = Model.Email, add = true })" class="btn btn-default">Add Advisor</a>
<a href="@Url.Action("Index", "Admin")" class="btn btn-primary">Cancel</a>
