@*@model List<SlickScheduler.Models.Plan>*@
@{
    ViewBag.Title = "AddCourseToPlan";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var course = ViewBag.Course;
}

<h2>Add A Course To A Plan</h2>
<h4>Which plan would you like to add <strong>@course.Name</strong> to?</h4>
@using (Html.BeginForm("AddCourseToPlan", "Admin", new { courseID = course.CourseId}, FormMethod.Post)) {
<form class="form-horizontal col-lg-10">
    <div class="form-group">
        @Html.DropDownList("SelectPlanId", (IEnumerable<SelectListItem>)ViewData["SelectPlan"], new {@class = "form-control" })
    </div>
    <div class="form-group">
        @Html.DropDownList("SemesterNum", (IEnumerable<SelectListItem>)ViewData["ListSemNum"], new { @class = "form-control"})
    </div>
    <div class="form-group">
        <div class="col-lg-10 col-lg-offset-2">
            <button type="submit" id="save-info" class="btn btn-default" value="AddCourseToPlan">Submit</button>
            <a href=@Url.Action("ManageCourses", "Admin") class="btn btn-primary">Cancel</a>
        </div>
       
    </div>
    
    </form>
}


