@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1><center>Academic Scheduling for ALL! (CMPS Majors Only)</center></h1>
    <p class="lead">Having trouble creating a 4 year plan? Catching all those prereq's? We're here to help! ... or something!
    Click the button below to jump to our free scheduling software for computer science majors at Southeastern Louisiana University.</p>
    <p><a href="@Url.Action("Scheduler","Home")" class="elements btn btn-default btn-lg btn-block">Our Scheduling Tool &raquo;</a></p>
</div>

