@{
    ViewBag.Title = "Home Page";
    string link;
    if (Request.IsAuthenticated)
    {
        link = Url.Action("Scheduler", "Home");
    }
    else
    {
        link = Url.Action("LogIn", "Users");
    }
}



<div class="jumbotron text-center">
    <h1>Slick Scheduler</h1><hr style="visibility:hidden" />
    <h2>An Academic Advising Tool</h2>
    <p class="lead text-center">
        Slick Scheduler is a tool aimed at helping advisors at Southeastern Louisiana University to connect with students and determine their
        scheduling needs. Our current system is being developed for the Computer Science department, and supports
        Computer Science Majors of any of the three concentration from Fall 2013 to the present.
    </p>
    <p><a href="@link" class="elements btn btn-default btn-lg btn-block">Get Started! &raquo;</a></p>
    <div id="About"></div>
</div>
<center>
    <div class="col-lg-12">
        <h1>Meet the Crew!</h1>
        <p>Care to meet the team behind this amazing project? Well here we are!</p>
        <div class="list-group">
            <a href="#" class="list-group-item">
                <h4 class="list-group-item-heading">Chris Wunstel</h4>
                <p class="list-group-item-text">Chris' bio starts here!</p>
            </a>
            <a href="#" class="list-group-item">
                <h4 class="list-group-item-heading">Austin Webre</h4>
                <p class="list-group-item-text">Austin is an artist turned developer, who believes in merging form with function. His spare time consists of enjoying books - ranging from the works of F. Scott Fitzgerald to those of Stephen King - and writing,
                recording, and performing his own music.</p>
            </a>
            <a href="#" class="list-group-item">
                <h4 class="list-group-item-heading">Nathan Murphy</h4>
                <p class="list-group-item-text">Nathan has a strong passion for programming and video games. For Nathan, merging his two passions has been a primary goal- along with delving deeper into computer science. Currently, he is working on a 2D game using Java in his spare time. Also, he quickly became known as 'Pants the Kid' in his team... don't ask.</p>
            </a>
            <a href="#" class="list-group-item">
                <h4 class="list-group-item-heading">Austin Schmidt</h4>
                <p class="list-group-item-text">Another Austin... Whaaaaat?</p>
            </a>
            <a href="#" class="list-group-item">
                <h4 class="list-group-item-heading">Ryan Vanderbrook</h4>
                <p class="list-group-item-text">Ryan puts the slick in scheduler, simple as that...
                He enjoys watching various films, especially comedy and horror flicks.  He also dabbles in video games, as well as outdoor activities and sports.  When it comes
                to sports his inner nerd emerges.</p>
            </a>
        </div>
        <div id="Contact"></div>
    </div>
    <div class="well well-lg">
        <h1>Contact Us!</h1>
        <p>Having trouble with the site? Want to know more about when we'll be adding more content? Contact us at the email below!</p>
        <address>
            <strong>Support:</strong>   <a href="mailto:selu.slick@gmail.com">selu.slick@gmail.com</a>
        </address>
    </div>
</center>



