
@{
    ViewBag.Title = "Error404";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron">
    <h1>Uh oh...</h1>
    <h2>404 Error - You're Lost!</h2>
    <p>Looks like you've lost your way. No worries! Lets get you @Html.ActionLink("home", "Index", "Home").</p>
</div>