
@{
    ViewBag.Title = "Oops";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron">
    <h1>Uh oh...</h1>
    <p>It appears that you got lost or something! How about we bring you on @Html.ActionLink("home", "Index","Home")!</p>
</div>