@model List<SlickScheduler.Models.User>
@{
    ViewBag.Title = "AdvisorAccount";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Request An Advisor Account</h2>

@if (Request.IsAuthenticated)
{
    var currentUser = Model.Single(u => u.Email == HttpContext.Current.User.Identity.Name);
    Html.BeginForm();
}
