@model List<SlickScheduler.Models.User>
@{
    ViewBag.Title = "StudentAccount";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Your Student Account</h2>

@if (Request.IsAuthenticated)
{
    var plans = ViewBag.Plans;
    var advisors = ViewBag.Advisors;
    var user = ViewBag.User;

    using (Html.BeginForm("StudentAccount", "Users", FormMethod.Post)) {
    <form class="form-horizontal col-lg-10">
        <div class="form-group">
            <label for="select" class="col-lg-2 control-label">Select A Plan</label>
            <div class="col-lg-10">
                <select id="selectPlan" name="selectPlan" class="form-control">
                    @foreach (var p in plans)
                    {
                        var _plan = p.Name;
                        <option value="@p.PlanId">@_plan</option>
                    }
                </select>
            </div>
        </div>

        <div class="form-group">
            <div class="col-lg-10 col-lg-offset-2">
                <button type="submit" id="save-info" class="btn btn-default" value="StudentAccount">Submit</button>
            </div>
        </div>
    </form>
    }
}
else
{
    Response.Redirect(Url.Action("Error401", "Error"));
}